.about{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.about h1{
    text-align: center;
}
.about .text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about .text p{
    font-size: 1.2rem;
    text-align: center;
}

@media (min-width: 505px){
    .about .text p{
        text-align: justify;
        text-indent: 40px;
    }
}